[MASTER]
disable=
    R0913,  # too-many-arguments
    R0917,  # too-many-positional-arguments
    R0914,  # too-many-locals
    R0801,  # duplicate-code
    C0301,  # line-too-long
    W0621,  # redefined-outer-name
    W0612,  # unused-variable
init-hook='import sys; sys.path.append(".")'

[BASIC]
good-names=db_url, db_path

[MESSAGES CONTROL]
max-line-length=79